<footer class="footer-section bg-light pt-4 pb-4">
  <div class="container">
    <!-- Section Principale -->
    <div class="row">
      <!-- Section Informations -->
      <div class="col-md-3">
        <h5 class="text-uppercase" style="color: #8B0000;">À propos</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/presentation']" fragment="historique" class="text-dark text-decoration-none">Qui sommes-nous</a></li>
          <li><a [routerLink]="['/presentation']" fragment="enjeux" class="text-dark text-decoration-none">Notre mission</a></li>
          <li><a [routerLink]="['/presentation']" fragment="contacts" class="text-dark text-decoration-none">Équipe</a></li>
          <li><a [routerLink]="['/presentation']" fragment="contacts" class="text-dark text-decoration-none">Contactez-nous</a></li>
        </ul>
      </div>

      <!-- Section Actualités -->
      <div class="col-md-3">
        <h5 class="text-uppercase" style="color: #8B0000;">Actualités</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/actualites']" fragment="dernieres-nouvelles" class="text-dark text-decoration-none">Dernières nouvelles</a></li>
          <li><a [routerLink]="['/actualites']" fragment="evenements" class="text-dark text-decoration-none">Événements</a></li>
          <li><a [routerLink]="['/actualites']" fragment="blog" class="text-dark text-decoration-none">Blog</a></li>
        </ul>
      </div>

      <!-- Section Ressources -->
      <div class="col-md-3">
        <h5 class="text-uppercase" style="color: #8B0000;">Ressources</h5>
        <ul class="list-unstyled">
          <li><a [routerLink]="['/ressources']" fragment="guides" class="text-dark text-decoration-none">Guides</a></li>
          <li><a [routerLink]="['/ressources']" fragment="faq" class="text-dark text-decoration-none">FAQ</a></li>
          <li><a [routerLink]="['/ressources']" fragment="support-technique" class="text-dark text-decoration-none">Support technique</a></li>
        </ul>
      </div>

      <!-- Section Logos -->
      <div class="col-md-3">
        <h5 class="text-uppercase" style="color: #8B0000;">Partenaires</h5>
        <div class="d-flex justify-content-between">
          <img src="assets/images/RF.png" alt="République Française" style="height: 50px;">
          <img src="assets/images/logo_ADEME.png" alt="ADEME" style="height: 50px;">
          <img src="assets/images/Logo_CEREMA.png" alt="Cerema" style="height: 50px;">
        </div>
      </div>
    </div>

    <hr class="my-4">

    <!-- Section Logos Complémentaires -->
    <div class="d-flex justify-content-center flex-wrap" style="gap: 60px;">
      <!-- Logo République Française -->
      <div>
        <a href="https://www.gouvernement.fr" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/RF.png" alt="République Française" class="img-fluid" style="height: 100px;">
        </a>
      </div>

      <!-- Logo ADEME -->
      <div>
        <a href="https://www.ademe.fr" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/logo_ADEME.png" alt="ADEME" class="img-fluid" style="height: 100px;">
        </a>
      </div>

      <!-- Logo CEREMA -->
      <div>
        <a href="https://www.cerema.fr" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/Logo_CEREMA.png" alt="Cerema" class="img-fluid" style="height: 100px;">
        </a>
      </div>

      <!-- Logo CSTB -->
      <div>
        <a href="https://www.cstb.fr" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/Logo_CSTB.png" alt="CSTB" class="img-fluid" style="height: 100px;">
        </a>
      </div>

      <!-- Logo ACTEE -->
      <div>
        <a href="https://www.actee.fr" target="_blank" rel="noopener noreferrer">
          <img src="assets/images/Logo_ACTEE.png" alt="ACTEE" class="img-fluid" style="height: 100px;">
        </a>
      </div>
    </div>

    <!-- Section Copyright -->
    <div class="text-center mt-4">
      <p class="mb-0">&copy; 2025 ObservatoirecpeOF. Tous droits réservés.</p>
    </div>
  </div>
</footer>
