<div class="categories-menu">
  <button *ngFor="let category of categories" (click)="onCategoryChange(category)">
    {{ category | titlecase }}  <!-- Affiche la catégorie en format titlecase -->
  </button>
</div>

<div class="publications-list">
  <div *ngIf="!publications || publications.length === 0">
    <p>Aucune publication disponible dans cette catégorie.</p>
  </div>

  <div *ngFor="let publication of publications">
    <div class="publication-card">
      <img [src]="publication.image" alt="Image de la publication" />
      <h3>{{ publication.title }}</h3>
      <p>{{ publication.description }}</p>
      <a [href]="publication.downloadFile" download>Télécharger</a>
    </div>
  </div>
</div>
